<form action="/adduser" method="post">
	<input type="text" id="username" name="username">
	<input type="password" id="password" name="password">
	<input type="text" id="name" name="name">
	<button type="submit">Submit</button>
</form>