<!DOCTYPE html>
<html>
	<head>
		<title>	<%= company_title %> - Alive Control </title>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="">
	    <meta name="author" content="Teske Virtual System">	
	    <!-- Bootstrap Core CSS -->
	    <link href="css/bootstrap.min.css" rel="stylesheet">

	    <!-- Custom Fonts -->
	    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">	

	    <!-- Custom Fonts -->
	    <link href="css/alivecontrol.css" rel="stylesheet" type="text/css">
	    <link href="css/summernote.css" rel="stylesheet">
	</head>
	<body>
	    <div id="wrapper" >
			<!-- Navigation -->
			<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			    <div class="navbar-header">
			        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
			            <span class="sr-only">Toggle navigation</span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			        </button>
			        <a class="navbar-brand" href=""><img id="pagelogo" src="<%= page_logo %>"></a>
			    </div>
			    <!-- Top Menu Items -->
			    <ul class="nav navbar-right top-nav">
			    	<!--
			        <li class="dropdown">
			            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
			            <ul class="dropdown-menu message-dropdown">
			                <li class="message-preview">
			                    <a href="#">
			                        <div class="media">
			                            <span class="pull-left">
			                                <img class="media-object" src="http://placehold.it/50x50" alt="">
			                            </span>
			                            <div class="media-body">
			                                <h5 class="media-heading"><strong>John Smith</strong>
			                                </h5>
			                                <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
			                                <p>Lorem ipsum dolor sit amet, consectetur...</p>
			                            </div>
			                        </div>
			                    </a>
			                </li>
			                <li class="message-preview">
			                    <a href="#">
			                        <div class="media">
			                            <span class="pull-left">
			                                <img class="media-object" src="http://placehold.it/50x50" alt="">
			                            </span>
			                            <div class="media-body">
			                                <h5 class="media-heading"><strong>John Smith</strong>
			                                </h5>
			                                <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
			                                <p>Lorem ipsum dolor sit amet, consectetur...</p>
			                            </div>
			                        </div>
			                    </a>
			                </li>
			                <li class="message-preview">
			                    <a href="#">
			                        <div class="media">
			                            <span class="pull-left">
			                                <img class="media-object" src="http://placehold.it/50x50" alt="">
			                            </span>
			                            <div class="media-body">
			                                <h5 class="media-heading"><strong>John Smith</strong>
			                                </h5>
			                                <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
			                                <p>Lorem ipsum dolor sit amet, consectetur...</p>
			                            </div>
			                        </div>
			                    </a>
			                </li>
			                <li class="message-footer">
			                    <a href="#">Read All New Messages</a>
			                </li>
			            </ul>
			        </li>
			    	-->
			    	<li>
			    		<a href="#" onClick="RefreshAll()"><i class="glyphicon glyphicon-refresh icon-refresh-animate " id="refresh-icon"></i></a>
		    		</li>
			        <li class="dropdown"  style="display: none" id="alertbar">
			            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
			            <ul class="dropdown-menu alert-dropdown" id="alertbox">

			            </ul>
			        </li>
			        <!-- Logged in bar -->
			        <li class="dropdown" id="loggedbar" style="display: none" >
			            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <span id="uname">O</span> <b class="caret"></b></a>
			            <ul class="dropdown-menu">
			                <li>
			                    <a href="#"><i class="fa fa-fw fa-user"></i> Perfil</a>
			                </li>
			                <li>
			                    <a href="#"><i class="fa fa-fw fa-envelope"></i> Mensagens</a>
			                </li>
			                <li>
			                    <a href="#"><i class="fa fa-fw fa-gear"></i> Configurações</a>
			                </li>
			                <li class="divider"></li>
			                <li>
			                    <a href="#" onClick="DoLogout();"><i class="fa fa-fw fa-power-off" ></i> Sair</a>
			                </li>
			            </ul>
			        </li>
			        <!-- Logged out bar -->
			        <li class="dropdown" id="unloggedbar" >
			            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Efetuar Login <b class="caret"></b></a>
			            <ul class="dropdown-menu">
			                <li>
								<form onsubmit="DoLogin();return false;">
									<div class="input-group"  style="width: 200px" >
										<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
										<input id="loginuser" class="form-control" type="text" placeholder="Usuário" size="30"/>
									</div>
									<div class="input-group" style="width: 200px" >
										<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
										<input id="loginpass" class="form-control"  type="password" placeholder="Senha" size="30" />
									</div>
									<input class="btn btn-primary" style="clear: left; width: 100%; height: 32px; font-size: 13px;" type="submit" value="Efetuar Login" />
								</form>
			                </li>
			            </ul>
			        </li>
			    </ul>

			    <!-- Sidebar Menu Items -->
			    <div class="collapse navbar-collapse navbar-ex1-collapse" >
			        <ul id="menu" class="nav navbar-nav side-nav" style="display: none">
			            <li class="active" id="dashboard_li">
			                <a href="#" onClick="Page('dashboard')"><i class="fa fa-fw fa-dashboard"></i> Painel</a>
			            </li>
			            <li id="admin_li" style="display: none">
			                <a href="#" onClick="Page('admin')"><i class="fa fa-fw fa-wrench"></i> Administração</a>
			            </li>
			            <li id="machines_li">
			                <a href="#" onClick="Page('machines')"><i class="fa fa-fw fa-desktop"></i> Máquinas</a>
			            </li>
			            <li>
	                        <a href="javascript:;" data-toggle="collapse" data-target="#msgs_li"><i class="fa fa-fw fa-arrows-v"></i> Mensagens <span id="msgs_li_badge" class="badge" style="display: none">42</span> <i class="fa fa-fw fa-caret-down"></i> </a>
	                        <ul id="msgs_li" class="collapse">
					            <li id="tasks_li">
					                <a href="#" onClick="Page('tasks')" data-toggle="collapse" data-target="#msgs_li"><i class="fa fa-fw fa-tasks"></i> Tarefas <span id="tasks_li_badge" class="badge" style="display: none">0</span></a>
					            </li>
					            <li id="warnings_li">
					                <a href="#" onClick="Page('warnings')" data-toggle="collapse" data-target="#msgs_li"><i class="fa fa-fw fa-exclamation"></i> Avisos <span id="warnings_li_badge"  class="badge" style="display: none">0</span></a>
					            </li>
					            <li id="problems_li">
					                <a href="#" onClick="Page('problems')" data-toggle="collapse" data-target="#msgs_li"><i class="fa fa-fw fa-support"></i> Problemas <span id="problems_li_badge" class="badge" style="display: none">0</span></a>
					            </li>
	                        </ul>
			            </li>

			            <li id="configuration_li">
			                <a href="#" onClick="Page('config')"><i class="fa fa-fw fa-wrench"></i> Configurações</a>
			            </li>
			            <li id="exit_li">
			                <a href="#" onClick="DoLogout();"><i class="fa fa-fw fa-power-off"></i> Sair</a>
			            </li>
			        </ul>
			    </div>
			</nav>

        	<div id="page-wrapper"  style="display: none"  style="display: none">
        		<div id="admin" class="container-fluid">
	                <!-- Page Heading -->
	                <div class="row">
	                    <div class="col-lg-12">
	                        <h1 class="page-header" id="adminhead">
	                        	<i class="fa fa-desktop"></i> Administração <small>Visão Geral</small>
	                        </h1>
	                    </div>
	                </div>

	                <div class="row">
						<div class="panel panel-primary">
							<div class="panel-heading">Adicionar Usuário</div>
							<div class="panel-body">
								<div class="input-group" style="width: 100%">
									<span class="input-group-addon" style="width: 20%; text-align: left">Nome</span>
									<input type="text" class="form-control" id="admin_adduser_name" placeholder="Nome do Usuário" style="width: 80%" >
								</div>	
								<BR>
								<div class="input-group" style="width: 100%">
									<span class="input-group-addon" style="width: 20%; text-align: left">Usuário</span>
									<input type="text" class="form-control" id="admin_adduser_username" placeholder="Usuário" style="width: 80%" >
								</div>	
								<BR>
								<div class="input-group" style="width: 100%">
									<span class="input-group-addon" style="width: 20%; text-align: left">Senha</span>
									<input type="password" class="form-control" id="admin_adduser_password1" placeholder="Senha" style="width: 80%" >
								</div>	
								<BR>
								<div class="input-group" style="width: 100%">
									<span class="input-group-addon" style="width: 20%; text-align: left">Repetir Senha</span>
									<input type="password" class="form-control" id="admin_adduser_password2" placeholder="Repita a Senha" style="width: 80%" >
								</div>	
								<BR>
								<div class="input-group" style="width: 100%">
									<span class="input-group-addon" style="width: 20%; text-align: left">Nível</span>
									<select class="form-control" style="width: 80%" id="admin_adduser_userlevel">
										<option value="0">Usuário Comum</option>
										<option value="2">Administrador</option>
										<option value="3">Super-Administrador</option>
									</select>
								</div>		
								<BR>	
				                <div class="row">
				                	<div class="col-md-12 text-center">
					                	<button id="admin_adduser_save"  type="button" class="btn btn-success btn-lg" onClick="AddUser()"><span class="glyphicon glyphicon-saved"></span> Adicionar Usuário</button>
					                </div>
				                </div>			
							</div>
						</div>        	
					</div>			
        		</div>
        		<!-- /.page -->

        		<div id="config" class="container-fluid" style="display: none">
	                <!-- Page Heading -->
	                <div class="row">
	                    <div class="col-lg-12">
	                        <h1 class="page-header" id="confighead">
	                        	<i class="fa fa-desktop"></i> Configurações <small>Visão Geral</small>
	                        </h1>
	                    </div>
	                </div>

	                <div class="row">
	                	<div class="col-md-6">
							<div class="panel panel-primary">
								<div class="panel-heading">Alterar Nome</div>
								<div class="panel-body">
									<div class="input-group" style="width: 100%">
										<span class="input-group-addon" style="width: 20%; text-align: left">Nome</span>
										<input type="text" class="form-control" id="config_name" placeholder="Nome do Usuário" style="width: 80%" >
									</div>		
									<BR>	
					                <div class="row">
					                	<div class="col-md-12 text-center">
						                	<button id="config_name_save"  type="button" class="btn btn-success btn-lg" onClick="ChangeName()"><span class="glyphicon glyphicon-saved"></span> Alterar</button>
						                </div>
					                </div>			
								</div>
							</div>  
						</div>
						<div class="col-md-6">
							<div class="panel panel-primary">
								<div class="panel-heading">Alterar Senha</div>
								<div class="panel-body">
									<div class="input-group" style="width: 100%">
										<span class="input-group-addon" style="width: 20%; text-align: left">Senha</span>
										<input type="password" class="form-control" id="config_password1" placeholder="Senha" style="width: 80%" >
									</div>	
									<BR>
									<div class="input-group" style="width: 100%">
										<span class="input-group-addon" style="width: 20%; text-align: left">Repetir Senha</span>
										<input type="password" class="form-control" id="config_password2" placeholder="Repita a Senha" style="width: 80%" >
									</div>			
									<BR>	
					                <div class="row">
					                	<div class="col-md-12 text-center">
						                	<button id="config_password_save"  type="button" class="btn btn-success btn-lg" onClick="ChangePassword()"><span class="glyphicon glyphicon-saved"></span> Alterar</button>
						                </div>
					                </div>		
								</div>
							</div>    	
						</div>
					</div>			
        		</div>
        		<!-- /.page -->

        		<div id="machine" class="container-fluid" style="display: none">
	                <!-- Page Heading -->
	                <div class="row">
	                    <div class="col-lg-12">
	                        <h1 class="page-header" id="machinehead">
	                        	<i class="fa fa-desktop"></i> NOME <small>UUID</small>
	                        </h1>
	                    </div>
	                </div>
	                <!-- /.row -->
	                <div class="row">
                   		<div class="col-md-6">
                        	<div class="table-responsive">
	                            <div class="form-group input-group" style="width: 100%">
	                                <span class="input-group-addon" style="width: 20%; text-align: left">OS</span>
	                                <span class="input-group-addon" style="width: 80%" id="machineos">Linux</span>
	                            </div>
                                <div class="form-group input-group" style="width: 100%">
	                                <span class="input-group-addon" style="width: 20%; text-align: left">Processador</span>
	                                <span class="input-group-addon" style="width: 80%" id="machinecpu">Intel(R) Core(TM) i7-3630QM CPU @ 2.40GHz</span>
	                            </div>
                                <div class="form-group input-group" style="width: 100%">
	                                <span class="input-group-addon" style="width: 20%; text-align: left">Ultima Atualização</span>
	                                <span class="input-group-addon" style="width: 80%" id="machinelastupdate">3 dias atrás.</span>
	                            </div>
                                <div class="form-group input-group" style="width: 100%">
	                                <span class="input-group-addon" style="width: 20%; text-align: left">Status</span>
	                                <span class="input-group-addon" style="width: 80%" id="machinestatus">ONLINE</span>
	                            </div>
                        	</div>
                    	</div>           	
	                	<!-- /.col -->
                   		<div class="col-md-3">
	                        <div class="panel panel-green">
	                            <div class="panel-heading">
	                                <h3 class="panel-title"><i class="fa fa-long-arrow-right"></i> Memória RAM</h3>
	                            </div>
	                            <div class="panel-body">
	                                <div class="memory-graph">
	                                    <div class="memory-graph-content" id="ram-graph"></div>
	                                </div>
	                            </div>
	                        </div>
                    	</div>                  	
	                	<!-- /.col -->
                   		<div class="col-md-3">
	                        <div class="panel panel-green">
	                            <div class="panel-heading">
	                                <h3 class="panel-title"><i class="fa fa-long-arrow-right"></i> Memória SWAP</h3>
	                            </div>
	                            <div class="panel-body">
	                                <div class="memory-graph">
	                                    <div class="memory-graph-content" id="swap-graph"></div>
	                                </div>
	                            </div>
	                        </div>
                    	</div>         
	                	<!-- /.col -->
                    </div>
	                <!-- /.row -->

	                <div class="row">
	                    <div class="col-md-12">
							<div class="panel-group" id="extrasaccordion">
								<div class="panel panel-info" id="extrasaccordiontitle">
									<div class="panel-heading">
							    		<h4 class="panel-title">	
							    			<a data-toggle="collapse" data-parent="#extrasaccordion" href="#extrascollapse">Informações</a>
										</h4>
									</div>
									<div id="extrascollapse" class="panel-collapse collapse">
										<div class="panel-body" id="extrascontent">
											Nenhuma informação
										</div>
									</div>
								</div>
							</div>
		                </div>
	                </div>	                
	                <!-- /.row -->

	                <div class="row">
	                    <div class="col-md-12">
							<div class="panel-group" id="foldergroupsaccordion">
								<div class="panel panel-info" id="foldergroupsaccordiontitle">
									<div class="panel-heading">
							    		<h4 class="panel-title">	
							    			<a data-toggle="collapse" data-parent="#foldergroupsaccordion" href="#foldergroupscollapse">Grupo de Pastas</a>
										</h4>
									</div>
									<div id="foldergroupscollapse" class="panel-collapse collapse">
										<div class="panel-body" id="foldergroupscontent">
											Nenhuma informação
										</div>
									</div>
								</div>
							</div>
		                </div>
	                </div>	                
	                <!-- /.row -->

	                <div class="row">
	                    <div class="col-md-12">
							<div class="panel-group" id="maildomainsaccordion">
								<div class="panel panel-info" id="maildomainsaccordiontitle">
									<div class="panel-heading">
							    		<h4 class="panel-title">	
							    			<a data-toggle="collapse" data-parent="#maildomainsaccordion" href="#maildomainscollapse">Domínios de Email</a>
										</h4>
									</div>
									<div id="maildomainscollapse" class="panel-collapse collapse">
										<div class="panel-body" id="maildomainscontent">
											Nenhuma informação
										</div>
									</div>
								</div>
							</div>
		                </div>
	                </div>	                
	                <!-- /.row -->
	                <div class="row">
	                    <div class="col-md-12">
							<div class="panel-group" id="devicesaccordion">
								<div class="panel panel-info">
									<div class="panel-heading">
							    		<h4 class="panel-title">	
							    			<a data-toggle="collapse" data-parent="#devicesaccordion" href="#devicescollapse">Dispositivos PCI/PCI-e</a>
										</h4>
									</div>
									<div id="devicescollapse" class="panel-collapse collapse">
										<div class="panel-body">
											<ul class="list-group" id="deviceslist">
												<li class="list-group-item">Carregando</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
		                </div>
	                </div>	                
	                <!-- /.row -->

	                <div class="row">
	                    <div class="col-md-12">
							<div class="panel-group" id="ethernetsaccordion">
								<div class="panel panel-info">
									<div class="panel-heading">
							    		<h4 class="panel-title">	
							    			<a data-toggle="collapse" data-parent="#ethernetsaccordion" href="#ethernetscollapse">Dispositivos de Rede</a>
										</h4>
									</div>
									<div id="ethernetscollapse" class="panel-collapse collapse">
										<div class="panel-body">
					                        <table class="table table-hover table-striped">
					                            <thead>
					                                <tr>
					                                    <th>Dispositivo</th>
					                                    <th>IP</th>
					                                    <th>Broadcast</th>
					                                    <th>Máscara</th>
					                                    <th>RX Bytes</th>
					                                    <th>TX Bytes</th>
					                                </tr>
					                            </thead>
					                            <tbody id="ethernetstablerows">
					                            	<td colspan=6>Carregando...</td>
					                            </tbody>
					                        </table>
										</div>
									</div>
								</div>
							</div>
		                </div>
	                </div>	                
	                <!-- /.row -->
	                <div class="row">
	                    <div class="col-md-12">
							<div class="panel-group" id="disksaccordion">
								<div class="panel panel-success" id="diskaccordiontitle">
									<div class="panel-heading">
							    		<h4 class="panel-title">	
							    			<a data-toggle="collapse" data-parent="#disksaccordion" href="#diskscollapse">Discos</a>
										</h4>
									</div>
									<div id="diskscollapse" class="panel-collapse collapse">
										<div class="panel-body">
					                        <table class="table table-hover table-striped">
					                            <thead>
					                                <tr>
					                                    <th>Dispositivo</th>
					                                    <th>Familia</th>
					                                    <th>Capacidade</th>
					                                    <th>Tempo Ligado</th>
					                                    <th>Ciclos de Energia</th>
					                                    <th>Erros de Leitura</th>
					                                    <th>Setores Realocados</th>
					                                    <th>Status</th>
					                                </tr>
					                            </thead>
					                            <tbody id="diskstablerows">
					                            	<td colspan=8>Carregando...</td>
					                            </tbody>
					                        </table>
										</div>
									</div>
								</div>
							</div>
		                </div>
	                </div>	                
	                <!-- /.row -->
	                <div class="row">
	                    <div class="col-md-12">
							<div class="panel-group" id="mountsaccordion">
								<div class="panel panel-success" id="mountsaccordiontitle">
									<div class="panel-heading">
							    		<h4 class="panel-title">	
							    			<a data-toggle="collapse" data-parent="#mountsaccordion" href="#mountscollapse">Pontos de montagem</a>
										</h4>
									</div>
									<div id="mountscollapse" class="panel-collapse collapse">
										<div class="panel-body">
					                        <table class="table table-hover table-striped">
					                            <thead>
					                                <tr>
					                                    <th>Ponto de Montagem</th>
					                                    <th>Dispositivo</th>
					                                    <th>Usado</th>
					                                    <th>Livre</th>
					                                    <th>Tamanho</th>
					                                </tr>
					                            </thead>
					                            <tbody id="mountstablerows">
					                            	<td colspan=5>Carregando...</td>
					                            </tbody>
					                        </table>
										</div>
									</div>
								</div>
							</div>
		                </div>
	                </div>	                
	                <!-- /.row -->
	                <div class="row">
	                    <div class="col-md-12">
							<div class="panel-group" id="mysqlsaccordion">
								<div class="panel panel-success" id="mysqlaccordiontitle">
									<div class="panel-heading">
							    		<h4 class="panel-title">	
							    			<a data-toggle="collapse" data-parent="#mysqlsaccordion" href="#mysqlcollapse">MySQL</a>
										</h4>
									</div>
									<div id="mysqlcollapse" class="panel-collapse collapse">
										<div class="panel-body">
					                        <table class="table table-hover table-striped">
					                            <thead>
					                                <tr>
					                                    <th>Master Host</th>
					                                    <th>Master User</th>
					                                    <th>Estado do Slave</th>
					                                    <th>Estado IO</th>
					                                    <th>Estado SQL</th>		
					                                </tr>
					                            </thead>
					                            <tbody id="mysqltablerows">
					                            	<td colspan=5>Carregando...</td>
					                            </tbody>
					                        </table>
										</div>
									</div>
								</div>
							</div>
		                </div>
	                </div>	                
	                <!-- /.row -->
	                <div class="row">
	                    <div class="col-md-12">
							<div class="panel-group" id="drbdaccordion">
								<div class="panel panel-success" id="drbdaccordiontitle">
									<div class="panel-heading">
							    		<h4 class="panel-title">	
							    			<a data-toggle="collapse" data-parent="#drbdaccordion" href="#drbdcollapse">Conexões DRBD</a>
										</h4>
									</div>
									<div id="drbdcollapse" class="panel-collapse collapse">
										<div class="panel-body">
											<div id="drbdinfo">
												Versão: 0.00
											</div>
					                        <table class="table table-hover table-striped">
					                            <thead>
					                                <tr>
					                                    <th>ID</th>
					                                    <th>CS</th>
					                                    <th>RO</th>
					                                    <th>DS</th>
					                                    <th>NS</th>
					                                </tr>
					                            </thead>
					                            <tbody id="drbdtablerows">
					                            	<td colspan=5>Carregando...</td>
					                            </tbody>
					                        </table>
										</div>
									</div>
								</div>
							</div>
		                </div>
	                </div>	                
	                <!-- /.row -->
	                <div class="row">
	                    <div class="col-md-12">
							<div class="panel-group" id="vmsaccordion">
								<div class="panel panel-success" id="vmsaccordiontitle">
									<div class="panel-heading">
							    		<h4 class="panel-title">	
							    			<a data-toggle="collapse" data-parent="#vmsaccordion" href="#vmscollapse">Máquinas Virtuais</a>
										</h4>
									</div>
									<div id="vmscollapse" class="panel-collapse collapse">
										<div class="panel-body">
					                        <table class="table table-hover table-striped">
					                            <thead>
					                                <tr>
					                                    <th>OS</th>
					                                    <th>Nome</th>
					                                    <th>Memória RAM</th>
					                                    <th>CPUs</th>
					                                    <th>Tipo</th>
					                                    <th>Status</th>
					                                </tr>
					                            </thead>
					                            <tbody id="vmstablerows">
					                            	<td colspan=6>Carregando...</td>
					                            </tbody>
					                        </table>
										</div>
									</div>
								</div>
							</div>
		                </div>
	                </div>	                
	                <!-- /.row -->

        		</div>
        		<!-- /.page -->

        		<div id="machines" class="container-fluid" style="display: none">
	                <!-- Page Heading -->
	                <div class="row">
	                    <div class="col-lg-12">
	                        <h1 class="page-header">
	                        	<i class="fa fa-desktop"></i> Máquinas <small>Visão Geral</small>
	                        </h1>
	                    </div>
	                </div>
	                <!-- /.row -->

	                <div class="row" id="machineslist">

	                </div>
        		</div>
        		<!-- /.page -->

        		<div id="twp_list" class="container-fluid" style="display: none">
	                <!-- Page Heading -->
	                <div class="row">
	                    <div class="col-lg-12">
	                        <h1 class="page-header" id="twp_list_title">
	                        	<i class="fa fa-desktop"></i> Tarefas <small>Visão Geral</small>
	                        </h1>
	                    </div>
	                </div>
	                <!-- /.row -->

	                <div class="row">
	                    <div class="col-md-12">
		                    <div class="table-responsive">
		                        <table class="table table-hover table-striped">
		                            <thead>
		                                <tr>
		                                    <th>De</th>
		                                    <th>Título</th>
		                                    <th>Sub-Título</th>
		                                    <th>Data</th>
		                                </tr>
		                            </thead>
		                            <tbody id="twptablerows">

		                            </tbody>
		                        </table>
		                    </div>
		                </div>
	                </div>
        		</div>
        		<!-- /.page -->

        		<div id="twp" class="container-fluid" style="display: none">
	                <!-- Page Heading -->
	                <div class="row">
	                    <div class="col-lg-12">
	                        <h1 class="page-header" id="twp_title">
	                        	<i class="fa fa-desktop"></i> Espaço em disco insuficiente em / <small id="twp_from">(SYSTEM_USER)</small>
	                        </h1>
	                    </div>
	                </div>
	                <!-- /.row -->

	                <div class="row">
	                    <div class="col-md-12">
	                    	<div class="well well-lg" id="twp_message">
	                    		Seu disco / em NBLUCAS está com a capacidade abaixo de 5%<BR> Você está com 8723944000 bytes livres diante de 192804404000 bytes de espaço.
	                    	</div>
		                </div>
	                </div>
	                <BR>
	                <div class="row">
	                	<div class="col-md-12 text-center">
	                		<input type="hidden" id="twp_uuid" value="ID"><input type="hidden" id="twp_type" value="TYPE">
		                	<button id="twp_mark_solved"  type="button" class="btn btn-success btn-lg" onClick="SetResolved()"><span class="glyphicon glyphicon-ok"></span> Marcar como resolvido</button>
		                </div>
	                </div>
        		</div>
        		<!-- /.page -->

         		<div id="dashboard" class="container-fluid" style="display: none" >
	                <!-- Page Heading -->
	                <div class="row">
	                    <div class="col-lg-12">
	                        <h1 class="page-header">
	                        	 <i class="fa fa-dashboard"></i> Painel <small>Visão Geral</small>
	                        </h1>
	                    </div>
	                </div>
	                <!-- /.row -->

	                <div class="row">
	                    <div class="col-lg-3 col-md-6">
	                        <div class="panel panel-primary" id="dashboardmachinebox" style="display: none">
	                            <div class="panel-heading">
	                                <div class="row">
	                                    <div class="col-xs-3">
	                                        <i class="fa fa-comments fa-5x fa-desktop"></i>
	                                    </div>
	                                    <div class="col-xs-9 text-right">
	                                        <div class="huge" id="dashboardmachines">26</div>
	                                        <div>Computadores Registrados</div>
	                                    </div>
	                                </div>
	                            </div>
	                            <a href="#">
	                                <div class="panel-footer">
	                                    <span class="pull-left" onClick="Page('machines')">Ver detalhes</span>
	                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
	                                    <div class="clearfix"></div>
	                                </div>
	                            </a>
	                        </div>
	                    </div>
	                    <div class="col-lg-3 col-md-6">
	                        <div class="panel panel-green" id="dashboardtaskbox" style="display: none">
	                            <div class="panel-heading">
	                                <div class="row">
	                                    <div class="col-xs-3">
	                                        <i class="fa fa-tasks fa-5x"></i>
	                                    </div>
	                                    <div class="col-xs-9 text-right">
	                                        <div class="huge" id="dashboardtasks">12</div>
	                                        <div>Tarefas</div>
	                                    </div>
	                                </div>
	                            </div>
	                            <a href="#">
	                                <div class="panel-footer">
	                                    <span class="pull-left" onClick="Page('tasks')">Ver detalhes</span>
	                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
	                                    <div class="clearfix"></div>
	                                </div>
	                            </a>
	                        </div>
	                    </div>
	                    <div class="col-lg-3 col-md-6">
	                        <div class="panel panel-yellow" id="dashboardwarningbox" style="display: none">
	                            <div class="panel-heading">
	                                <div class="row">
	                                    <div class="col-xs-3">
	                                        <i class="fa fa-exclamation fa-5x"></i>
	                                    </div>
	                                    <div class="col-xs-9 text-right">
	                                        <div class="huge" id="dashboardwarnings">0</div>
	                                        <div>Avisos</div>
	                                    </div>
	                                </div>
	                            </div>
	                            <a href="#">
	                                <div class="panel-footer">
	                                    <span class="pull-left" onClick="Page('warnings')">Ver detalhes</span>
	                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
	                                    <div class="clearfix"></div>
	                                </div>
	                            </a>
	                        </div>
	                    </div>
	                    <div class="col-lg-3 col-md-6">
	                        <div class="panel panel-red" id="dashboardproblembox" style="display: none">
	                            <div class="panel-heading">
	                                <div class="row">
	                                    <div class="col-xs-3">
	                                        <i class="fa fa-support fa-5x"></i>
	                                    </div>
	                                    <div class="col-xs-9 text-right">
	                                        <div class="huge" id="dashboardproblems">0</div>
	                                        <div>Problemas</div>
	                                    </div>
	                                </div>
	                            </div>
	                            <a href="#">
	                                <div class="panel-footer">
	                                    <span class="pull-left" onClick="Page('problems')">Ver detalhes</span>
	                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
	                                    <div class="clearfix"></div>
	                                </div>
	                            </a>
	                        </div>
	                    </div>
	                </div>
	                <!-- /.row -->
           	 	</div>
        	</div>
    	</div>
		<div id="loadingdiv">
			<div class="progress">
			  <div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
			    <span class="sr-only">Carregando</span>
			  </div>
			</div>			
		</div>
		<div id="loadingoverlay">
			<div id="loadingbox">
				<h3>Carregando Página. Aguarde...</h3>
				<div class="progress">
				  <div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
				    <span class="sr-only">Carregando página</span>
				  </div>
				</div>	
			</div>
		</div>
		<div class="modal fade" id="errormodal" tabindex="-1" role="dialog" aria-labelledby="errormodal" aria-hidden="true">
			<div class="modal-dialog ">
				<div class="modal-content">
					<div class="modal-header" id="errormodalheader">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="errormodaltitle"></h4>
					</div>
					<div id="errormodalbody" class="modal-body"></div>
					<div id="errormodalfoot" class="modal-footer"></div>
				</div>
			</div>
		</div>
	    <!-- jQuery Version 1.11.0 -->
	    <script src="js/jquery-1.11.0.js"></script>

	    <!-- Bootstrap Core JavaScript -->
	    <script src="js/bootstrap.min.js"></script>
	    <!-- Flot Graph -->
		<script src="js/jquery.flot.js"></script>
		<script src="js/jquery.flot.pie.js"></script>
		<!-- Summernote -->
		<script src="js/summernote.min.js"></script>	

	    <!-- TVS Alive Control -->
	    <script src="js/tvsstore.js"></script>
	    <script src="js/webui.js"></script>
	    <script src="js/alivecontrol.js"></script>

	</body>
</html>